:root {
  --discord: rgb(28, 27, 32);
}

.bg-primary {
  background-color: var(--discord) !important;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    font-size: 3em;
    transition: font-size 0.3s;
    color: var(--discord);
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  #mainNav .navbar-nav li.nav-item a.nav-link {
    color: var(--discord) !important;
  }
}

@media (min-width: 992px) {
  #mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: rgb(255, 255, 255) !important;
  }
}

@media (min-width: 992px) {
  #mainNav {
    background-color: #ffc823 !important;
    color: var(--discord) !important;
  }
}

.portfolio {
  background-color: #ffe391 !important;
}

.info-bot {
  font-size: 1.7em;
  font-family: "Montserrat";
  font-weight: bold;
}

.info-bot span {
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--discord) !important;
}

.text-secondary {
  color: var(--discord) !important;
}

